<div class="card-requests">
<%# need to add link to profile pics here!! %>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="rounded-lg">
  <div class="infos">
    <div class="status"><%= a.status %></div>
    <h2><%= a.asker.first_name %></h2>
    <div class="appt-details">
      <%= icon('fas', 'calendar', class: "fa-regular") %> <%= a.datetime.strftime("%-d %b %Y at %k:%M") %> <br>
      <%= icon('fas', 'map-marker', class: "fa-regular") %> <%= a.location %> <br>
      You: <%= a.r_language.name %> - <%= a.asker.first_name %>: <%= a.a_language.name %>
    </div>
    <%# just added accept an decline here to test - will move to details page after %>
    <div class="options">
      <% if current_user == a.receiver %>
        <%= link_to "Accept", appointment_path(a, q: 1), method: :patch , data: { confirm: "Are you sure?"}, class: "btn btn-ghost"  %>
        <%= link_to "Decline", appointment_path(a, q: 0), method: :patch , data: { confirm: "Are you sure?"}, class: "btn btn-ghost"  %>
      <% else %>
        <%= link_to "Edit", edit_appointment_path(a), class: "btn btn-ghost" %>
        <%= link_to "Delete", appointment_path(a), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-ghost" %>
      <% end %>
    </div>
  </div>
</div>
