<%# logic what to display on card %>
<% if a.asker == current_user  %>
  <% partner = a.receiver %>
  <% my_language = a.a_language.name %>
  <% your_language = a.r_language.name %>
<% else %>
  <% partner = a.asker %>
  <% my_language = a.r_language.name %>
  <% your_language = a.a_language.name %>
<% end %>
<%= link_to appointment_path(a), class:"card-requests" do  %>
  <img src="<%= partner.photo.key ? (cloudinary_url partner.photo.key) : "https://images.unsplash.com/photo-1643725173053-ed68676f1878?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" %>"/>
  <div class="status<%= ' confirmed' if a.status == 'confirmed' %><%= ' declined' if a.status == 'declined' %>"><%= a.status %></div>
  <div class="infos">
    <h2><%= partner.first_name %></h2>
    <div class="appt-details">
      <%= icon('fas', 'calendar', class: "fa-regular") %> <%= a.datetime.strftime("%-d %b %Y at %k:%M") %> <br>
      <%= icon('fas', 'map-marker', class: "fa-regular") %> <%= a.location %> <br>
      You: <%= my_language %> <br> <%= partner.first_name %>: <%= your_language %>
    </div>
    <%# just added accept an decline here to test - will move to details page after %>
  </div>
<% end %>
