<div class="container">
  <h1>Your Dashboard</h1>
  <h2>Upcoming meetings:</h2>


  <h2>Incoming requests</h2>
  <% @appts.each do |a| %>
    <% if a.receiver == current_user %>
      <div class="card">
        <%= a.asker.first_name %>
        <%= a.datetime %>
        <%= a.location %>
        <%# just added accept an decline here to test - will move to details page after %>
        <div>
          <%= link_to "Accept", appointment_path(request, q: 1), method: :patch , data: { confirm: "Are you sure?"}, class: "btn btn-ghost"  %>
          <%= link_to "Decline", appointment_path(request, q: 0), method: :patch , data: { confirm: "Are you sure?"}, class: "btn btn-ghost"  %>
        </div>
      </div>
    <% end %>
  <% end %>
  
  <h2>Your requests</h2>
  <% @appts.each do |a| %>
    <% if a.asker == current_user %>
    <div class="card">
      <%= a.receiver.first_name %>
      <%= a.datetime %>
      <%= a.location %>
    </div>
    <% end %>
  <% end %>
</div>
