<div class="<%= local_assigns[:css_class] %> message_card my-3 p-2 w-50" id="message-<%= message.id %>" data-sender-id="<%= message.user.id %>">
    <p><%= message.content %></p>
    <small class ="message-timestamp"><%= message.created_at.strftime("%b %e - %l:%M %p") %></small>
</div>
