<div class="languages">
  <div class="languages-header">
    <h2><%= @user == current_user ? "I speak" : "Speaks" %></h2>
  </div>
  <div class="divider"></div>
  <div class="languages-header">
    <h2><%= @user == current_user ? "I'm learning" : "Learning" %></h2>
  </div>
</div>
<div class="languages">
  <div class="language-list">
    <% @speaking.each do |user_language| %>
      <div class="language">
        <p><%= user_language.language.name %><%= "*" if user_language.skill_level == 5%></p>
        <%= render "shared/language_level_profile", user_language: user_language %>
      </div>
    <% end %>
    <div class="native">* native</div>
  </div>
  <div class="divider"></div>
  <div class="language-list">
    <% @learning.each do |user_language| %>
      <div class="language">
        <p><%= user_language.language.name %></p>
        <%= render "shared/language_level_profile", user_language: user_language %>
      </div>
    <% end %>
  </div>
</div>
