<div class="profile-actions">
  <%= link_to new_user_appointment_path(user) do %>
    <div class="make-appointment">
      <%= icon('fas', 'calendar-alt', class: "fa new-apt-calendar") %>
      <%= icon('fas', 'plus', class: "new-apt-plus") %>
    </div>
  <% end %>
  <% if chatroom.first.nil? %>
    <%= link_to chatrooms_path(user_id: params[:id]), method: :post do %>
      <%= icon('far', 'comment', class: "fa") %>
    <% end %>
  <% else %>
    <%= link_to user_chatroom_path(user, chatroom.first) do %>
      <%= icon('far', 'comment', class: "fa") %>
    <% end %>
  <% end %>
</div>
