

<div class="container chatroom"
      data-controller='chatroom'
      data-chatroom-chatroom-id-value='<%= @chatroom.id %>'
      <%# data-CONTROLLER_NAME-VALUE_NAME-value='???' %>
      >

  <div class="messages" data-chatroom-target='messages'>
    <% @chatroom.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>

  </div>

  <%= simple_form_for [@chatroom, @message],
                      remote: true,
                      data: { chatroom_target: 'form' } do |f| %>
    <%= f.input :content,
                label: false,
                placeholder: 'Your message' %>
    <%= f.submit 'Send', class: 'btn button'  %>
  <% end %>
</div>
