<div class="container my-profile mt-4 px-3">
  <div class="back-icon">
    <%= link_to :back do %>
      <%= icon('far', 'arrow-alt-circle-left' ) %>
    <% end %>
  </div>

  <div class="headline">
    <img src="<%= @user.photo.key ? (cloudinary_url @user.photo.key) : "https://images.unsplash.com/photo-1643725173053-ed68676f1878?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" %>" class="img-appt"/>
    <div class="headline-text">
      <h2><%= @user.first_name %></h2>
      <%= @user.age %> - <%= @user.location %> <br>
      <small>username: <%= @user.username %></small>
    </div>
  </div>

  <% if @user != current_user %>
    <%= render "users/show/profile-actions", user: @user %>
  <% end %>

  <div class="profile-header">
    <h2><%= @user == current_user ? "My languages" : "Languages" %></h2>
    <% if @user == current_user %>
      <%= link_to new_user_user_language_path(@user), data: {turbolinks: "false"} do %>
        <%= icon('fas', 'plus', class: "fa") %>
      <% end %>
    <% end %>
  </div>

  <div class="language-box">
    <%= render "users/show/languages", user: @user %>
  </div>

  <div class="profile-header">
    <h2><%= @user == current_user ? "About me" : "About" %></h2>
  </div>

  <div class="bio">
    <p><%= @user.bio %></p>
  </div>

  <% if @user == current_user %>
    <%= render "users/show/options", user: @user %>
  <% end %>
</div>
