<div class="profile-banner" style= "background-image:url();" >
  <div style="background-image: url(https://images.unsplash.com/photo-1643725173053-ed68676f1878?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);" class="profile-banner">
  <div class="btn btn-primary">✉</div>
  <%= link_to  "↩", :back, class:"btn btn-danger btn-back" %>

</div>

<div class="container pt-3">
  <div class="user-basic-info">
    <h2 class= "" >
      <%= @user.username %>
    </h2>
    <h3>
      <%= "#{@user.age} - #{@user.location.capitalize}" %>
    </h3>
    <p>
      <%= @user.availability %>
    </p>
  <%= render "users/show/languages" %>
<% if policy(User).show? %>
<%= link_to "Add a new language", new_user_user_language_path(@user) %>
<% end %>
  <h2 class="pt-3">About</h2>
  <p>
  <%= @user.bio %>
  </p>
  </div>
</div>
