<div class="footer">

  <div class="icon-box">
    <%# Link to Messages %>
    <%= link_to users_path do %>
      <%= icon('fas', 'envelope', class: "fa-2x") %>
    <% end %>
  </div>

  <div class="icon-box">
    <%# link to search-function %>
    <%= link_to users_path do %>
      <%= icon('fas', 'search', class: "fa-2x") %>
    <% end %>
  </div>

  <div class="icon-box">
  <%# link to Profile from User %>
    <%= link_to current_user do %>
      <%= icon('fas', 'user', class: "fa-2x") %>
    <% end %>
  </div>

</div>
