<%= link_to user_path(user), class:"card-requests" do  %>
  <img src="<%= user.photo.key ? (cloudinary_url user.photo.key) : "https://images.unsplash.com/photo-1643725173053-ed68676f1878?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" %>" class="rounded-lg"/>
  <div class="user-infos">
    <h2><%= user.first_name %>, <%= user.age %> - <%= user.location.capitalize %></h2>
    <p class="text-wrap text-break"><%= user.bio.truncate(85, separator: ' ') if user.bio %></p>
    <div class="card-languages d-flex">
      <%= render "shared/speaks_learning_card", user: user %>

    </div>
  </div>

<% end %>
