    <% if chatroom.first.nil? %>
      <%= link_to chatrooms_path(user_id: params[:id]), method: :post do %>
      <div class="message">
        Message <%= partner.first_name %> <%= icon('far', 'comment', class: "fa") %>
      </div>
      <% end %>
    <% else %>
      <%= link_to user_chatroom_path(partner, chatroom.first, anchor: (chatroom.first.messages.first ? "#{chatroom.first.messages.last.id}" : "#messages")), data: {turbolinks:false} do %>
      <div class="message">
        Message <%= partner.first_name %> <%= icon('far', 'comment', class: "fa") %>
      </div>
      <% end %>
    <% end %>



  <%# <%= link_to user_chatroom_path(partner, chatroom.first) do %>
    <%# Message <%= partner.first_name %>
  <%# <% end %>
  <%# </div> %>

<% if appt.receiver == current_user && appt.status == 'pending' %>
</div>
  <div class="accept-decline">
    <%= link_to appointment_path(appt, q: 0), method: :patch, data: { confirm: "Are you sure?"} do %>
      <div class="decline">
        <%= icon('far', 'times-circle', class: "fa") %>
      </div>
    <% end %>
    <%= link_to appointment_path(appt, q: 1), method: :patch, data: { confirm: "Are you sure?"} do %>
      <div class="accept">
        <%= icon('far', 'check-circle', class: "fa") %>
      </div>
    <% end %>
  </div>
<% else %>
  <%= link_to edit_appointment_path(appt) do %>
    <div class="edit">
      Edit SpeakEZ <%= icon('far', 'edit', class: "fa") %>
    </div>
  <% end %>
  <%= link_to appointment_path(appt), method: :delete, data: { confirm: "Are you sure?"} do %>
    <div class="delete">
      Cancel SpeakEZ <%= icon('far', 'trash-alt', class: "fa") %>
    </div>
  <% end %>
</div>
<% end %>
