<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="form">
      <h2>Add a new lanuage to your profile</h2>
      <%= simple_form_for([current_user, @user_language]) do |f| %>
        <div class="form-inputs">
          <%= f.association :language, label_method: :name, label: "Choose a language", value_method: :id, include_blank: false %>
          <%= f.input :skill_level, label: "How well do you speak the language", required: true %>
        </div>
        <div class="form-radio">
          <%= f.input :learning, as: :radio_buttons, collection: [[true, 'I want to learn this language'], [false, 'I speak this language']], label_method: :second, value_method: :first, required: true %>
        </div>
        <div class="form-actions">
          <%= f.submit 'Send request', class: 'btn button'  %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
